USE [master]
GO
/****** Object:  Database [RMSDB]    Script Date: 2/7/2020 11:31:25 PM ******/
CREATE DATABASE [RMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RMSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RMSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMSDB]
GO
/****** Object:  Table [dbo].[tbl_fooditems]    Script Date: 2/7/2020 11:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_fooditems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[Price] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[IsSpecial] [tinyint] NOT NULL,
	[Discount] [varchar](50) NULL,
	[Image] [varbinary](max) NULL,
	[FoodName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_fooditems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_getfooditems]    Script Date: 2/7/2020 11:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_getfooditems]
AS
SELECT Id, CategoryName, Price, Status, IsSpecial, Discount, FoodName
FROM     dbo.tbl_fooditems
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 2/7/2020 11:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 2/7/2020 11:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[CId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](100) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerType] [bit] NULL,
	[WaiterId] [int] NULL,
	[TableId] [int] NULL,
	[Completed] [bit] NULL,
	[Total] [decimal](18, 0) NULL,
	[OrderDate] [date] NULL,
 CONSTRAINT [PK_tbl_order] PRIMARY KEY CLUSTERED 
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_image]    Script Date: 2/7/2020 11:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_image](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[pictrure] [image] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_orderedfooditem]    Script Date: 2/7/2020 11:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orderedfooditem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](100) NULL,
	[FoodId] [int] NULL,
	[Qty] [int] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tbl_orderedfooditem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_table]    Script Date: 2/7/2020 11:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [varchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_waiter]    Script Date: 2/7/2020 11:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_waiter](
	[WaiterID] [int] IDENTITY(1,1) NOT NULL,
	[WaiterName] [varchar](50) NOT NULL,
	[WaiterContact] [varchar](50) NOT NULL,
	[WaiterAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_waiter] PRIMARY KEY CLUSTERED 
(
	[WaiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userdetails]    Script Date: 2/7/2020 11:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userdetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Usertype] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Userdetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_customer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_customer_tbl_table] FOREIGN KEY([TableId])
REFERENCES [dbo].[tbl_table] ([Id])
GO
ALTER TABLE [dbo].[tbl_customer] CHECK CONSTRAINT [FK_tbl_customer_tbl_table]
GO
ALTER TABLE [dbo].[tbl_customer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_customer_tbl_waiter] FOREIGN KEY([WaiterId])
REFERENCES [dbo].[tbl_waiter] ([WaiterID])
GO
ALTER TABLE [dbo].[tbl_customer] CHECK CONSTRAINT [FK_tbl_customer_tbl_waiter]
GO
ALTER TABLE [dbo].[tbl_orderedfooditem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_orderedfooditem_tbl_fooditems] FOREIGN KEY([FoodId])
REFERENCES [dbo].[tbl_fooditems] ([Id])
GO
ALTER TABLE [dbo].[tbl_orderedfooditem] CHECK CONSTRAINT [FK_tbl_orderedfooditem_tbl_fooditems]
GO
USE [master]
GO
